*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: 
  normal;
}

.header-link:hover {
    background: #747274;
}

a {
    color: whitesmoke;
    text-decoration: none;
  }

body {
    background: #B9B7A7
}
